<!DOCTYPE html>
<html>

<head>

</head>

<body>

  <h2>Hi, <%= @user.fname %></h2>


  <p>Sales haven't been caught up since <%= @time.strftime("%F %T")%>. Maybe you should get on that?


  <p>Don't look at me, I'm just a robot.

  <p>--HighGearBot

</body>

</html>
