var submitData = {};

function colorTotals(total, div, low, high) {
  if ( total > low && total < high ) {
    $(div).addClass('alert-warning');
  } else if ( total > high ) {
    $(div).addClass('alert-danger');
  } else if ( total < low ) {
    $(div).removeClass('alert-danger alert-warning');
  }
}

function updateDailySalesTotals() {
  var total = 0;
  $('.sales_accum').each(function (){
    if ( $(this).html().length ) {
     total += parseInt( $(this).html().replace(/[^0-9\-]/g,'') );
    }
  }); 
  $('#today-total-sales').html( formatCurrency(total) );
  total = Math.abs(total);
  colorTotals(total, '#today-total-sales', 300, 600);
}

function updateHourlySales() {
  $('.actual_sales').each(function(){
    if ( $(this).html().length ) {
      var id = $(this).attr('data-hour');
      var actual = parseInt( $(this).html() );
      var projected = parseInt( $('#projected_sales_' + id).html().replace(/[^0-9\-]/g,'') );
      $('#sales_accum_' + id).html( formatCurrency(actual - projected, 0) );
    }
  });
  updateDailySalesTotals();
}

function updateDailyLabor() {
  var total = 0.0;
  $('span.actual_vlh').each(function(){
    if ( $(this).html().length ) {
      total += parseFloat( $(this).html() );
    }
  });
  $('#today-total-labor').html(total);
  total = Math.abs(total);
  colorTotals(total, '#today-total-labor', 2, 5);
}



function submitSales(currCell){
  var currCellData = currCell.html();
  var currEntry = currCell.children('span').html();
  var hourId = currCell.attr('data-hour');
  currCell.empty(); 
  currCell.append('<input class="sales-entry" type="number" id="' + hourId + '" style="width: 45px; height: 20px"></input>');
  var currInput = currCell.children('input');
  currInput.val(currEntry)
  currInput.focus();
  currInput.focusout(function(){
    currCell.empty();
    currCell.append(currCellData);
  });
}


$(document).on("keypress", "input.sales-entry", function(e) {
  if (e.keyCode == 13){

    function success(currCell, entry, id, attr){

      currCell.empty();
      currCell.append('<span id="' + id + '" data-attr="' + attr + '" class="' + attr + '" data-hour=' + id + '>' + entry + '</span>')
      $('#user_'+ id).empty().append( $('.current_user').first().html() );
      currCell.next('td.editable').addClass('alert-warning') 
    }


    submitData = {};
    e.preventDefault();
    var currCell = $(this).closest('td');
    var entry = $(this).val();
    if ( isNaN(entry) ) {
      $(this).blur();
    } else {  
      var attr = $(this).parent().attr('data-attr');
      var id = $(this).parent().attr('data-hour');
      var user_id = $('.current_user').first().attr('id');
      submitData["id"] = id;
      submitData[attr] = entry;
      submitData["user_id"] = user_id;
      $.ajax({
        url: '/sales_hours/'+id,
        type: 'put',
        data: submitData,
        dataType: 'json',
        success: function(){
          success(currCell, entry, id, attr);
          window.setTimeout(function(){
            updateHourlySales();
            updateDailyLabor();
          }, 0);
        }
      })
    }
  }
});

var ready3;

ready3 = function() {
  var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
  updateHourlySales();
  updateDailyLabor();
  var waste = parseFloat( $('#today-total-waste').html().replace(/[^0-9\-]/g,'') );
  waste = Math.abs(waste);
  colorTotals(waste, '#today-total-waste', 50, 75); 

  $('.editable').click(function(){
    var currCell = $(this);
    submitSales(currCell)
  });
}


$(document).on('turbolinks:load', function(){
  if ( $('div').is('.sales-counts') ) {
    ready3();
  }
});

