.food_item_count {
  width: 45px;
}

.glyphicon-plus-sign {
  font-size: 1.75em;
}

a.submit_food_item_count {
  color: #333333;
  text-decoration: none;
}

a.submit_food_item_count:active {
  color: #428bca;  
}

a.submit_food_item_count:visited{
  color: #333333;  
}

a.submit_food_item_count:hover {
  color: #333333;  
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 2px;
}

