.food_item_count {
  width: 45px;
}

// for fat fingers
.glyphicon-plus-sign {
  font-size: 1.75em;
}

//give the links some styling that doesn't suck.
a.submit_food_item_count {
  color: #333333;
  text-decoration: none;
}

a.submit_food_item_count:active {
  color: #428bca;  
}

a.submit_food_item_count:visited{
  color: #333333;  
}

a.submit_food_item_count:hover {
  color: #333333;  
}

// reduce bootstrap padding on tables to increase info density
.table-waste > thead > tr > th, 
.table-waste > thead > tr > td, 
.table-waste > tbody > tr > th,
.table-waste > tbody > tr > td, 
.table-waste > tfoot > tr > th,
.table-waste > tfoot > tr > td {
  padding: 2px;
}

// add some spaces between top buttons/controls and next row
.pad-row {
  padding-bottom: 20px;
}

// stop stupid apple styling from preventing centering.
input[type=date] {
    display: block;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

// fix more stupid apple styling and center date input
input[type="date"],
input[type="time"], 
input[type="datetime-local"], 
input[type="month"] {
  line-height: inherit;
  margin: 0 auto;
}

#today_total_cost {
  display: inline-block;
}


